@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h1>
                Let the Algo's trade!
            </h1>
            <br />
            <br />
            <p class="hero-text">
                Commission-free investing, plus the algorithms you need to put your money in motion. Sign up and don't let your emotions get the best of you.
            </p>
            <br />
            <a class="btn btn-lg btn-primary" style="background-color: #6930c3" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
        </div>
        <div class="col">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_eKikFJ.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
        </div>
    </div>
</div>

<div class="section bg-white">
    <div class="container">
        <br />
        <br />
        <h2>Why O(trade)?</h2>
        <br />
        <br />
        <div class="row align-items-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Investing</h3>
                        <p class="why-us-sub-heading">Invest what you can afford.</p>
                        <p>
                            Without minimum balance requirement, you can choose how much to invest.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Plans</h3>
                        <p class="why-us-sub-heading">Invest in yourself.</p>
                        <p>
                            Our three plans can make it easy and affordable to build wealth.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Retirement</h3>
                        <p class="why-us-sub-heading">Invest in your future.</p>
                        <p>
                            O(trade) can help you plan and save for a secure retirement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

</div>