@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container text-center">
    <br />
    <br />
    <br />

    <div class="card" style="background-color:#161B22">
        <br />
        <br />
        <br />
        <div class="card-body">



            <h2 class="text-white">
                Congratulations!
            </h2>
            <br />
            <br />

            <h6 class="text-white">
                You are part of the team
            </h6>

            <br />
            <br />
            <br />

            <div class="form-group">


                <a class="btn btn-lg" asp-page="./Login" style="background-color: #6930c3">
                    Continue to Log in
                </a>


            </div>






        </div>
        <br />
        <br />
        <br />

    </div>



</div>