@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<div class="container text-center">
    <br />
    <br />
    <br />

    <div class="card" style="background-color:#161B22">
        <div class="card-body">

            <a href="https://alpaca.markets/" target="_blank">
                <img src="https://alpaca.markets/docs/images/alpacalogo.png" />
            </a>

            <br />
            <br />
            <br />

            <h2 class="text-white">
                Alpaca is our proud trade partner.
            </h2>

            <p class="text-white">For more information. Go to <a href="https://alpaca.markets/" target="_blank">Alpaca Markets</a></p>

            <br />
            <br />
            <br />

            <div class="form-group">
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <a id="confirm-link" class="btn btn-lg" href="@Model.EmailConfirmationUrl" style="background-color:#fcd600">
                            Continue
                        </a>
                    }
                }
            </div>


        </div>

    </div>



</div>