@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<br />


<div class="text-center">
    <div class="container">
        <h1>Create a new account.</h1>

        <p class="text-white">
            O(trade) is your guide to financial wellness. We'll help you invest, save and spend smarter.
        </p>

        <br />
        <br />
        <br />
        <br />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="text-white" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="text-white" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="text-white" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <br />
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

            </div>
            <hr />
            <div class="form-group">
                <button type="submit" style="background-color: #6930c3" class="btn btn-lg btn-primary">Register</button>

            </div>
            <div class="form-group">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Don't Have An Account?</a>
                </p>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
