@model TradingWebApplication.Models.Portfolio

@{
    ViewData["Title"] = "Day Trading";
}

<br />
<br />

<div class="container text-center">
    <div class="card" style="background-color:#161B22">
        <div class="card-body">
            <h1>Day Trading</h1>

            <br />

            <img src="https://www.forexmt4indicators.com/wp-content/uploads/2018/07/sonic-wave-forex-day-trading-forex-trading-strategy-01.png" alt="Day Trade Chart" style="width:50%;height:50%;">

            <br />
            <br />


            <h3 style="color:coral">
                High Risk
            </h3>
            <p style="color:dimgray">
                Day trading is a form of speculation in securities in which a trader buys and sells a financial instrument within the same trading day, such that all positions are closed
                before the market closes for the trading day to avoid unmanageable risks and negative price gaps between one day's close and the next day's price at the open.
            </p>

            <br />

            <button type="submit" style="background-color: #6930c3" class="btn btn-lg btn-primary">Authorize</button>
        </div>
    </div>
    <br />

    <p style="color:dimgray">
        Authorizing means you agree to Terms of Service and Privacy Policy regarding Day Trading.
    </p>
</div>

