@model TradingWebApplication.Models.Portfolio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alpaca_Key.Key" class="control-label"></label>
                <input asp-for="Alpaca_Key.Key" class="form-control" />
                <span asp-validation-for="Alpaca_Key.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alpaca_Key.Secret_Key" class="control-label"></label>
                <input asp-for="Alpaca_Key.Secret_Key" class="form-control" />
                <span asp-validation-for="Alpaca_Key.Secret_Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portfolio_Value" class="control-label"></label>
                <input asp-for="Portfolio_Value" class="form-control" />
                <span asp-validation-for="Portfolio_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profit_Loss" class="control-label"></label>
                <input asp-for="Profit_Loss" class="form-control" />
                <span asp-validation-for="Profit_Loss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trade_Type" class="control-label"></label>
                <input asp-for="Trade_Type" class="form-control" />
                <span asp-validation-for="Trade_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
