@model TradingWebApplication.Models.Portfolio

@{
    ViewData["Title"] = "Day Trading";
}

<br />
<br />

<div class="container text-center">
    <div class="card" style="background-color:#161B22">
        <div class="card-body">
            <h1>Swing Trading</h1>

            <br />

            <img src="https://venteskraft.net/wp-content/uploads/2020/06/600_488287581.png" alt="Day Trade Chart" style="width:50%;height:50%;">

            <br />
            <br />


            <h3 style="color:darkcyan">
                Medium Risk
            </h3>
            <p style="color:dimgray">
                Swing trading is a style of trading that attempts to capture short- to medium-term gains in a stock (or any financial instrument) over a period of a few days to several weeks.
            </p>

            <br />

            <button type="submit" style="background-color: #6930c3" class="btn btn-lg btn-primary">Authorize</button>
        </div>
    </div>
    <br />

    <p style="color:dimgray">
        Authorizing means you agree to Terms of Service and Privacy Policy regarding Swing Trading.
    </p>
</div>

