@{
    ViewData["Title"] = "TradingOptions";
}


<div class="jumbotron">
    <h1>Let's Trade !</h1>
    <br />
    <br />
    <br />
    <br />
</div>

<div class="container-fluid" id="welcomeTrading">
    <p>
        Using our custom algorithms you will be able to simulate stock market trading in a risk free environment.
        This is done in the hopes that different investment strategies can be tested, tracked, and refined without consequence.
        Don't worry if you have little to no experience with stock market trading, our application is designed for you to have fun
        in a no risk environment and will help you learn about investing at the same time.
        <br />
        Have fun trading !
    </p>
    <br />
    <p>
</div>

<div class="container-fluid">
    <br />
    <h3 id="tradingOptionsHeader">You have three trading options to select from:</h3>
    <br />
    <div class="row align-items-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Day Trade</h3>
                    <p>
                        Will buy and sell stocks within the same trading day so all positions are closed by the time the
                        market closes for the day.
                    </p>
                    <a asp-action="DayTrade" asp-route-id="@User.Identity.Name">Day Trade</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Swing Trade</h3>
                    <p>
                        Will buy and sell stock to capture short to medium term gains in stock over a period of a few days to
                        several weeks.                                      
                        <br />
                    </p>
                    <a asp-action="SwingTrade" asp-route-id="@User.Identity.Name">Swing Trade</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Long Trade</h3>
                    <p>
                        Will buy and sell stock to establish long positions in securities such as stocks, mutual funds, currencies,
                        options, and futures.
                    </p>
                    <a asp-action="LongTrade" asp-route-id="@User.Identity.Name">Long Trade</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>